/* ===========================
   Root Variables
=========================== */
:root {
  --white: #ffff;
  --black: #000;
  --dark-black:#050D28;
  --cyan : #00FFFF;
  --neon-magenda: #ea40f7;
  --navy-blue:#08152b;
  --deep-navy-blue:#081239;

  --ff-road-rage: 'Road Rage', Sans-serif;
  --ff-futura-std: 'Futura Std', Sans-serif;

  --transition-delayed: all 1s ease;
  --transition-slow: all .7s ease;
  --transition-normal: all .5s ease;
  --transition-fast: all .3s ease;
  --transition-fastest: all .2s ease;

  /* ==== global font size variables ====  */
  --fs-sm: 16px;
  --fs-base: 18px;
  --fs-md: 20px;
  --fs-lg: 24px;
  --fs-xl: 27px;
  --fs-2xl: 30px;
  --fs-3xl: 34px;
  --fs-4xl: 48px;
  --fs-5xl: 64px;
  --fs-6xl: 96px;
  --fs-huge: 144px;

  /* ======= line height ======== */
  --lh-normal: normal;
  --lh-md: 28px;
  --lh-lg: 40px;

  --lh-xl: 55px;
  --lh-2xl: 70px; 
  --lh-3xl: 105px;
  --lh-huge: 155px;
  --lh-full: 100%;
}



/* ========== have to remove the above duplicate files
                            copied from theme.css ========== */

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #343434;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--cyan);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(181, 181, 181);
}

body {
  font-size: var(--fs-base);
  line-height: var(--lh-normal);
  background-color: var(--dark-blue);
  color: var(--white);
}


/* sidbar style starts */
.ANS_sidebar{
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 999;
  width: auto;
}


/* sidebar toggler container  */
.ANS_sidebar .sidebar-toggle-container{
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70px;
    background: var(--deep-navy-blue) ;
    z-index: 99;
}

.ANS_sidebar .top-small-logo{
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding: 0 10px;
}

.ANS_sidebar .top-small-logo img{
  width: 100%;
}

.ANS_sidebar .sidebar-toggler-btn{
  width: 45px;
  height: 30px;
  position: absolute;
  top: 45%;
  transform: rotate(-90deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.ANS_sidebar .sidebar-toggler-btn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #0ff;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.ANS_sidebar .sidebar-toggler-btn span:nth-child(1) {
  top: 7px;
}
.ANS_sidebar .sidebar-toggler-btn span:nth-child(2) {
  top: 13px;
}
.ANS_sidebar .sidebar-toggler-btn span:nth-child(3) {
  top: 13px;
}
.ANS_sidebar .sidebar-toggler-btn span:nth-child(4) {
  top: 19px;
}

.ANS_sidebar .active-page-info{
  width: 50%;
  color: #4178B8;
  font-size: 10px;
  line-height: 1;
  font-family: var(--ff-futura-std);
  text-transform: uppercase;
  transform: rotate(-90deg);
  font-weight: 600;
  margin-bottom: 50px;
}


/* sidbar drawer style starts */
.ANS_sidebar .sidebar-drawer-wrap{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  /* transform: translateX(-100%); */
  background-color: var(--dark-blue);
  transition: var(--transition-normal);
  z-index: 40;
}

.ANS_sidebar .sidebar-drawer-wrap .sidebar-inner{
  width: 100%;
  height: 100%; 
}


/* sidebar menu col */
.ANS_sidebar .menu-col {
  padding: 30px;
  padding-left: 130px;
 background-color: var(--deep-navy-blue);
 min-width: 800px;
 width: auto;
}


.ANS_sidebar .sidebar-menus{
  width: auto;
}


.ANS_sidebar .site-nav-logo{
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  height: auto;
  display: block;
}

.ANS_sidebar .sidebar-nav-logo-wrap{
margin-bottom: 40px;
}

.ANS_sidebar .site-nav-logo img{
  width: 100%;
  height: auto;
}


/* sidebar menu style */
.ANS_sidebar .ANS_menu{
  width: 100%;
  height: auto;
  gap: 25px;
}

.ANS_sidebar .ANS_menu li{}

.ANS_sidebar .ANS_menu li a{
  font-size: 42px;
  line-height: normal;
  letter-spacing: 1.5px;
  font-family: var(--ff-futura-std);
  font-weight: 800;
  transition: var(--transition-fast);
}

.ANS_sidebar .sidenav-link{
/* overflow: hidden; */
z-index: 0;
}

.ANS_sidebar .sidenav-link::before{
  z-index: 20;
  transition: var(--transition-fast);
}

.ANS_sidebar .sidenav-link.active,
.ANS_sidebar .sidenav-link:hover{
  padding-left: 15px;
}

.ANS_sidebar .sidenav-link.active::before,
.ANS_sidebar .sidenav-link:hover::before{
  opacity: 1;
  padding-left: 15px;
}

.ANS_sidebar .sidenav-link::after{
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(-35px, -50%); 
  content: "";
  width: 39px;
  height: 53px;
  /* background-size: contain; */
  z-index: 10;
  opacity: 0;
  transition: var(--transition-fast);
}


.ANS_sidebar .sidenav-link:nth-child(1)::after {
  background: url('../img/panther-icon.png') no-repeat center center;
  background-size: cover;
}

.ANS_sidebar .sidenav-link:nth-child(2)::after {
  background: url('../img/why-ans-service.png') no-repeat center center;
  background-size: cover;
}

.ANS_sidebar .sidenav-link:nth-child(3)::after {
  background: url('../img/deer-horn-icon.png') no-repeat center center;
  background-size: cover;
}

.ANS_sidebar .sidenav-link:nth-child(4)::after {
  background: url('../img/panther-icon.png') no-repeat center center;
  background-size: cover;
}
.ANS_sidebar .sidenav-link:nth-child(5)::after {
  background: url('../img/') no-repeat center center;
  background-size: cover;
}
.ANS_sidebar .sidenav-link:nth-child(6)::after {
  background: url('../img/arrow-wings.png') no-repeat center center;
  background-size: cover;
}



.ANS_sidebar .sidenav-link.active::after,
.ANS_sidebar .sidenav-link:hover::after{
 transform: translate(-0px, -50%);
 opacity: 1;
}

.ANS_sidebar .contact-col{
  flex-grow: 1;
  padding: 120px;
}

.ANS_sidebar .contact-col .contact-wrapper{
  gap: 100px;
  width: 100%;
  justify-content: space-between;
}

.ANS_sidebar .ANS_contact-info{
gap: 20px;
}

.ANS_sidebar .ANS_contact-info h5{
  font-weight: 400;
  color: var(--deep-shade-blue);
}

.ANS_sidebar .ANS_contact-info address{
  font-weight: 300;
  font-family: var(--ff-futura-std);
  font-size: 16px;
  line-height: 25px;
  font-style: normal;
  margin-bottom: 20px;
  max-width: 300px;
}

.ANS_sidebar .ANS_contact-info address .city{
  display: block;
  margin-bottom: 17px;
}

.ANS_sidebar .ANS_contact-form-wrap{
  width: 100%;
}

.ANS_sidebar .ANS_contact-form-wrap h5{
  font-weight: 400;
  color: var(--deep-shade-blue);
  margin-bottom: 20px;
}

.ANS_sidebar .ANS_contact-form{
 width: 100%;
 gap: 20px;
 max-width: 400px;
 margin-bottom: 30px;
}
.ANS_sidebar .ANS_contact-form textarea,
.ANS_sidebar .ANS_contact-form input{
  width: 100%;
  display: block;
  border: none;
  background-color: transparent;
  padding: 10px 0px;
  border-bottom: 1px solid var(--cyan);
  outline: none;
  color: var(--white);
}

.ANS_sidebar .ANS_contact-form button{
  /* border: 1px solid var(--cyan);
  color: var(--cyan); */
}

.ANS_sidebar .ANS_contact-form button:hover{

}

.ANS_sidebar .ANS_contact-form-wrap{}
.ANS_sidebar .ANS_contact-form-wrap{}



.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}










.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}
.ANS_sidebar{}





/* ================= 
      Device responsiveness
             ================== */

/* extra large monitor */
@media screen and (max-width: 1680px) {
}

/* large monitor */
@media screen and (max-width: 1440px) {
  /* header style  */
  
}

/* small monitor */
@media screen and (max-width: 1240px) {
  
}

/* tablets ( extra large )  */
@media screen and (max-width: 1023px) {

  /* global style */
  .desk{
    display: none;
  }
  .tablet{
    display: block;
  }

}

/* tablets ( medium )  */
@media screen and (max-width: 840px) {
     

}

/* phones ( extra large )  */
@media screen and (max-width: 767px) {

  /* global utility */
  .mobi{
    display: block;
  }

  .desk,
  .tablet{
    display: none;
  }

 
}

/* phones ( small, medium ) */
@media screen and (max-width: 560px) {
 

}

