/* ::-webkit-scrollbar {
  width: 10px;
  height: 8px;
} */

/* /* ::-webkit-scrollbar-track {
  background: #343434;
  border-radius: 10px;
} */

/* ::-webkit-scrollbar-thumb {
  background: var(--cyan);
  border-radius: 10px;
} */

/* ::-webkit-scrollbar-thumb:hover {
  background: rgb(181, 181, 181);
} */

body {
  font-size: var(--fs-base);
  line-height: var(--lh-normal);
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: var(--ff-futura-std);
}

/* global utility starts */
.marquee-container {
  overflow: hidden;
  width: 100%;
}
.marquee-container-inner {
  width: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  animation: imageMarquee 50s linear infinite;
  will-change: transform;
  height: auto;
}

@keyframes imageMarquee {
  to {
    transform: translateX(-50%);
  }
}
/* global utility ends */


.ANS_header,
.ANS_main-wrapper,
.ANS_footer{
  padding-left: 70px;
};

/* sidbar style starts */
.ANS_sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: auto;
}



.ANS_sidebar::-webkit-scrollbar {
  width: 6px !important;
  height: 8px;
}

/* sidebar toggler container  */
.ANS_sidebar .sidebar-toggle-container {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 70px;
  background: var(--deep-navy-blue);
  z-index: 99;
}

.ANS_sidebar-logo-wrap.small {
  width: 100%;
  min-height: 40px;
  margin-top: 40px;
  padding: 0 6px;
  transition: var(--transition-normal);
  opacity: 1;
}

.ANS_sidebar-logo-wrap.small.hide{
  opacity: 0;
  pointer-events: none;
}

.ANS_sidebar .top-small-logo {
  width: 100%;
  height: auto;
}

.ANS_sidebar .top-small-logo img {
  width: 100%;
}

.ANS_sidebar .sidebar-toggler-btn {
  width: 45px;
  height: 30px;
  position: absolute;
  top: 45%;
  transform: rotate(-90deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.ANS_sidebar .sidebar-toggler-btn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  /* background: #0ff; */
  background: var(--light-yellow);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.ANS_sidebar .sidebar-toggler-btn span:nth-child(1) {
  top: 7px;
}
.ANS_sidebar .sidebar-toggler-btn.active span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.ANS_sidebar .sidebar-toggler-btn span:nth-child(2) {
  top: 13px;
}
.ANS_sidebar .sidebar-toggler-btn.active span:nth-child(2) {
  transform: rotate(45deg);
}
.ANS_sidebar .sidebar-toggler-btn span:nth-child(3) {
  top: 13px;
}
.ANS_sidebar .sidebar-toggler-btn.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.ANS_sidebar .sidebar-toggler-btn span:nth-child(4) {
  top: 19px;
}
.ANS_sidebar .sidebar-toggler-btn.active span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.ANS_sidebar .active-page-info {
  width: 50%;
  /* color: #4178b8; */
  color: var(--light-yellow);
  font-size: 10px;
  line-height: 1;
  font-family: var(--ff-futura-std);
  text-transform: uppercase;
  transform: rotate(-90deg);
  font-weight: 600;
  margin-bottom: 50px;
}

/* sidbar drawer style starts */
.ANS_sidebar .sidebar-drawer-wrap {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  transform: translateX(-100%);
  background-color: var(--dark-blue);
  transition: var(--transition-normal);
  z-index: 40;
}

.ANS_sidebar .sidebar-drawer-wrap.open {
  transform: translateX(0);
}

.ANS_sidebar .sidebar-drawer-wrap .sidebar-inner {
  width: 100%;
  height: 100%;
}

/* sidebar menu col */
.ANS_sidebar .menu-col {
  padding: 50px;
  padding-left: 130px;
  background-color: var(--deep-navy-blue);
  min-width: 700px;
  flex-grow: 1;
  overflow-y: auto;
}

.ANS_sidebar .menu-col::-webkit-scrollbar {
  width: 6px !important;
  height: 8px;
}

.ANS_sidebar .sidebar-menus {
  width: auto;
}

.ANS_sidebar .site-nav-logo {
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: -6px;
}

.ANS_sidebar .sidebar-nav-logo-wrap {
  margin-bottom: 40px;
}

.ANS_sidebar .site-nav-logo img {
  width: 100%;
  height: auto;
}

/* sidebar menu style */
.ANS_sidebar .ANS_menu {
  width: 100%;
  height: auto;
  gap: 25px;
}

.ANS_sidebar .ANS_menu li {
  display: inline-block;
}

.ANS_sidebar .ANS_menu li a {
  font-size: 42px;
  line-height: normal;
  letter-spacing: 1.5px;
  font-family: var(--ff-futura-std);
  font-weight: 800;
  transition: var(--transition-fast);
}

.ANS_sidebar .sidenav-link {
  /* overflow: hidden; */
  z-index: 0;
}

.ANS_sidebar .sidenav-link::before {
  z-index: 20;
  transition: var(--transition-fast);
}

.ANS_sidebar .sidenav-link.active,
.ANS_sidebar .sidenav-link:hover {
  padding-left: 15px;
}

.ANS_sidebar .sidenav-link.active::before,
.ANS_sidebar .sidenav-link:hover::before {
  opacity: 1;
  padding-left: 15px;
}

.ANS_sidebar .sidenav-link::after {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-35px, -50%);
  content: "";
  width: 39px;
  height: 53px;
  /* background-size: contain; */
  z-index: 10;
  opacity: 0;
  transition: var(--transition-fast);
}

.ANS_sidebar .sidenav-link:nth-child(1)::after {
  background: url("../img/panther-icon.png") no-repeat center center;
  background-size: cover;
}

.ANS_sidebar .sidenav-link:nth-child(2)::after {
  background: url("../img/why-ans-service.png") no-repeat center center;
  background-size: cover;
}

.ANS_sidebar .sidenav-link:nth-child(3)::after {
  background: url("../img/deer-horn-icon.png") no-repeat center center;
  background-size: cover;
}

.ANS_sidebar .sidenav-link:nth-child(4)::after {
  background: url("../img/panther-icon.png") no-repeat center center;
  background-size: cover;
}
.ANS_sidebar .sidenav-link:nth-child(5)::after {
  background: url("../img/") no-repeat center center;
  background-size: cover;
}
.ANS_sidebar .sidenav-link:nth-child(6)::after {
  background: url("../img/arrow-wings.png") no-repeat center center;
  background-size: cover;
}

.ANS_sidebar .sidenav-link.active::after,
.ANS_sidebar .sidenav-link:hover::after {
  transform: translate(-0px, -50%);
  opacity: 1;
}

.ANS_sidebar .contact-col {
  flex-grow: 1;
  padding: 7%;
  overflow-y: auto;
}

.ANS_sidebar .contact-col .contact-wrapper {
  gap: 5%;
  width: 100%;
  justify-content: space-between;
}

.ANS_sidebar .ANS_contact-info {
  gap: 20px;
}

.ANS_sidebar .ANS_contact-info h5 {
  font-weight: 400;
  /* color: var(--deep-shade-blue); */
  color: var(--white);
}

.ANS_sidebar .ANS_contact-info address {
  font-weight: 300;
  font-family: var(--ff-futura-std);
  font-size: 16px;
  line-height: 25px;
  font-style: normal;
  margin-bottom: 20px;
  max-width: 200px;
}

.ANS_sidebar .ANS_contact-info address .city {
  display: block;
  margin-bottom: 17px;
}

.ANS_sidebar .phone-wrap {
  gap: 10px;
}

.ANS_sidebar .phone-wrap img {
  width: 30px;
}
.ANS_sidebar .phone-wrap p {
  font-weight: 600;
}

.ANS_contact-form-wrap {
  flex-grow: 1;
  max-width: 400px;
}

.ANS_contact-form-wrap h5 {
  font-weight: 400;
  /* color: var(--deep-shade-blue); */
  color: var(--white);
  margin-bottom: 20px;
}

.ANS_contact-form {
  width: 100%;
  gap: 10px;
  margin-bottom: 50px;
}

.ANS_contact-form textarea,
.ANS_contact-form input {
  width: 100%;
  display: block;
  border: none;
  background-color: transparent;
  padding: 10px 0px;
  /* border-bottom: 1px solid var(--cyan); */
  border-bottom: 1px solid var(--light-yellow);
  outline: none;
  color: var(--white);
}

.ANS_contact-form textarea {
  resize: vertical;
}
.ANS_contact-form textarea::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}
.ANS_contact-form-wrap .social-links {
  gap: 20px;
}

.ANS_contact-form button {
  margin-top: 20px;
}

.ANS_sidebar .phone-wrap {
  margin-bottom: 20px;
}

.ANS_sidebar .our-partners-wrapper {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  justify-content: end;
}
.ANS_sidebar .our-partners-wrapper .marquee-container-inner {
  /* flex-grow: 1; */
  animation-duration: 5s !important;
}


/* header style starts */
.ANS_header{
width: 100%;
position: absolute;
top: 0;
left: 0;
height: auto;
z-index: 99;

}

.ANS_header-inner{
  padding: 25px 20px;
  gap: 25px;
  max-width: 1920px;
  margin: 0 auto;
}

.ANS_nav{
  flex-grow: 1;
}

.ANS_header-inner .nav-logo-wrap{
 min-width: 200px ;
  max-width: 300px;
  overflow: hidden;
}
.ANS_header-inner .nav-logo-wrap img{
  transition: var(--transition-normal);
}
.ANS_header-inner .nav-logo-wrap.hide img{
  transform: translateX(-400px);
  opacity: 0;
}

.ANS_nav ul{
  justify-content: end;
  gap: 40px;
}

.ANS_nav ul a,
.ANS_sidebar .ANS_menu li a{
  text-transform: uppercase;
}

.ANS_nav ul a{
  position: relative;
  cursor: pointer;
}

.ANS_nav ul a:not(.ANS_btn)::before{
  position: absolute ;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px ;
  content: '';
  border-radius: 4px;
  background-color: var(--cyan);
  background-color: var(--light-yellow);
  transition: var(--transition-normal);
}

.ANS_nav ul a:not(.ANS_btn):hover::before{
  width: 100%;
}

/* footer style starts */
.ANS_footer{
  width: 100%;
  padding: 50px;
  padding-left: 70px;
  border-top: 1px solid rgb(40, 40, 40);
  background-color: var(--dark-black);
}

.ANS_footer .footer-top{
  gap: 45px;
  justify-content: space-between;
}

.ANS_footer .footer-top .footer-col{
  flex-grow: 1;
}

.ANS_footer .footer-col h5{
  margin-bottom: 20px;
}

.ANS_footer .footer-des{
  max-width: 300px;
  width: 100%;
}

.ANS_footer .footer-des img{
margin-bottom: 20px;
}

.ANS_footer .footer-contact-info{
  max-width: 150px;
  width: 100%;
  overflow: hidden;
}

.ANS_footer .footer-contact-info address{
 margin-bottom: 15px;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 font-style: normal;
}


.ANS_footer .ANS_contact-form-wrap{
 width: 100%;
 max-width: 350px;
}

.ANS_footer .membership-info{
  width: 100%;
  max-width: 300px;
}

.ANS_footer .membership-info img{
  width: 100%;
  max-width: 250px;
}

.ANS_footer .membership-info .a2im{
    margin-bottom: 15px;
}




.ANS_footer .phone-wrap{
width: 100%;
margin-top: 30px;
gap: 10px;
}

.ANS_footer .phone-wrap img{
width: 30px;
}

.ANS_footer .footer-bottom{
  margin-top: 40px;
  gap: 20px;
  padding-bottom: 80px;
}

.ANS_footer .footer-bottom .footer-social-links{
  gap: 10px;
}



/* Home page style starts */
.ANS_main-wrapper{
  width: 100%;
}

.ANS_home-banner-wrapper{
  width: 100%;
  height: 80vh;
  height: 80dvh;
  min-height: 700px;
  position: relative;
  z-index: 10;
 }

 .ANS_home-banner-bg{
  width: 100%;
  height: 100%;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover; 
 }

 .ANS_home-banner-container{
  width: 100%;
  height: 100%;
  justify-content: center;
  background: var(--bg-overlay-transparent);
  z-index: 10;
 }

 .ANS_home-banner-content h4,
 .ANS_home-banner-content h1,
 .ANS_home-banner-content p {
  max-width: 800px;
 }

 .ANS_home-banner-content h4{
  margin-bottom: 5px;
  color: var(--light-green);
  font-family: var(--ff-road-rage);
 }

 .ANS_home-banner-content h1{
  font-weight: 800;
  font-family: var(--ff-futura-std);
  -webkit-text-fill-color: var(--bg-overlay-transparent);
  -webkit-text-stroke: 1px;
  line-height: 110%;
 }

 .ANS_home-banner-content p{
  margin-top: 15px;
  line-height: 120%;
 }

 .ANS_home-banner-content .ANS_btn{
  text-transform: uppercase;
  margin-top: 30px;
 }


 /* key services */
 .ANS_key-services-wrap{
  width: 100%;
  background: var(--dark-black);
  padding: 50px;
 }

 .ANS_key-services-wrap .top-text{
  align-items: end;
 }

 .ANS_key-services-wrap .top-text{
  text-align: right;
 }

 .ANS_key-services-wrap .service-info{
  margin-top: 30px;
 }

 .ANS_key-services-wrap .left{
  width: 45%;
  max-width: 540px;
 }

 .ANS_key-services-wrap .left h5{
  margin-bottom: 10px;
  color: #e6e6e6;
 }

 .ANS_key-services-wrap .left p{
  margin-top: 30px;
  font-weight: 300;
  font-family: var(--ff-futura-std);
 }

 .ANS_key-services-wrap .right{
  max-width: 540px;
  width: 45%;
 }

 .ANS_key-services-wrap .right h2{
  font-family: var(--ff-road-rage);
  color: var(--light-green);
 }

 .ANS_key-services{
  margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
 }

 .ANS_key-services .ANS_service-card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin-bottom: 30px;

 }

 .ANS_key-services .ANS_service-card {
  /* border: 1px solid red; */
 }

 .ANS_key-services .ANS_service-card h4{
  margin-bottom: 20px;
 }

 .ANS_key-services .ANS_service-card a{
  color:var(--light-yellow);
  font-weight: 400;
  display: inline-block;
  margin-top: 20px;
  position: relative;
 }

 .ANS_key-services .ANS_service-card a::before{
  top: 102%;
  left: 0;
  position: absolute;
  width: 100%;
  content: '';
  height: 1px;
  background-color: var(--light-yellow);
 }


 /* how it works section */
 .ANS_how-it-works-wrapper{
  width: 100%;
  background: var(--dark-blue);
  padding: 50px;
 }

 .ANS_how-it-works .top-text{
  margin-bottom: 40px;
 }

 .ANS_how-it-works-steps{
  max-width: 900px;
  width: 100%;
  gap: 25px;
 }

 .ANS_how-it-works-steps .step-col{
  gap: 20px;
 }
 .ANS_how-it-works-steps .icon-box{
  min-width: 40px;
 }

 .ANS_how-it-works-steps .icon{
  width: 100%;
  min-width: 40px;
 }

 .ANS_how-it-works-steps .icon-box span{
 width: 2px;
 margin: 5px 0;
 flex-grow: 1;
 margin-left: 19px;
 background-color: var(--light-yellow);
 }


 .ANS_how-it-works-steps .content-box{
  /* padding-bottom: 25px; */
 }


 .ANS_how-it-works-steps .content-box{
  flex-grow: 1;
 }

 .ANS_how-it-works-steps .content-box h3{
  margin-bottom: 10px;
 }



 /* our partners */
 .ANS_partners-wrap{
  padding: 50px;
  background-color: var(--dark-black);
 }

 .ANS_partners-wrap img{
  margin-left: 1.25rem; /* mx-5 */
  margin-right: 1.25rem; /* mx-5 */
  margin-top: 0.5rem; /* mt-2 */
  max-height: 20px; /* max-h-[20px] */
 }



/* 
 .ANS_partners-wrap .section-des{
  max-width: 900px;
 }

 .ANS_partners-wrap .internation-partners,
 .ANS_partners-wrap .local-partners{
  margin-top: 50px;
 }

 .ANS_partners-wrap .internation-partners h4,
 .ANS_partners-wrap .local-partners h4{
  margin-bottom: 30px;
 }


 .ANS_partners{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 70px;
  row-gap: 30px;
 }

 .ANS_partners .partner-card h4{
  margin-top: 10px;
 }


 .ANS_partners .partner-card img{
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
  overflow: hidden;
 }

 .ANS_partners .partner-card img{
  height: 70px;
  width: 100%;
 } */


.ANS_bread-and-artists{
  padding:100px;
  background-color: var(--dark-blue);
}

.ANS_bread-and-artists h3{
  text-align: center;
}

.ANS_bread-and-artists .ANS_flex{
  margin-top: 40px;
  gap: 30px;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
}

.ANS_bread-and-artists img{
  width: 100px;
  height: 100px;
  border-radius: 20px;
}









/* ================= 
      Device responsiveness
             ================== */

/* extra large monitor */
@media screen and (max-width: 1680px) {
  /* sidebar */

  .ANS_sidebar .site-nav-logo {
    min-width: 140px;
    max-width: 240px;
  }

  .ANS_sidebar .ANS_menu li a {
    font-size: 34px;
  }

  .ANS_sidebar .sidenav-link::after {
    left: -10px;
    transform: translate(-30px, -50%);
    width: 34px;
    height: 47px;
  }
}

/* large monitor */
@media screen and (max-width: 1440px) {
  /* sidebar style starts */
  .ANS_sidebar .menu-col {
    padding: 30px;
    padding-left: 100px;
    min-width: 500px;
    flex-grow: 1;
  }

  .ANS_sidebar .site-nav-logo {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    height: auto;
    display: block;
  }

  .ANS_sidebar .ANS_menu li a {
    font-size: 28px;
    font-weight: 600;
  }

  .ANS_sidebar .sidebar-nav-logo-wrap {
    margin-bottom: 30px;
  }

  /* sidebar menu style */
  .ANS_sidebar .ANS_menu {
    gap: 20px;
  }

  .ANS_sidebar .sidenav-link.active,
  .ANS_sidebar .sidenav-link:hover {
    padding-left: 10px;
  }
  .ANS_sidebar .sidenav-link.active::before,
  .ANS_sidebar .sidenav-link:hover::before {
    padding-left: 10px;
  }

  .ANS_sidebar .sidenav-link::after {
    left: -10px;
    transform: translate(-30px, -50%);
    width: 30px;
    height: 43px;
  }

  /* sidebar contact info  */
  .ANS_sidebar .contact-col {
    padding: 4%;
  }

  .ANS_sidebar .contact-col .contact-wrapper {
    gap: 3%;
  }

  .ANS_sidebar .ANS_contact-info {
    gap: 10px;
  }

  .ANS_sidebar .ANS_contact-info address {
    line-height: normal;
    font-style: normal;
    margin-bottom: 15px;
  }

  .ANS_sidebar .phone-wrap img {
    width: 24px;
  }

  .ANS_contact-form-wrap h5 {
    margin-bottom: 15px;
  }

  .ANS_contact-form textarea,
  .ANS_contact-form input {
    padding: 8px 0px;
  }

  .ANS_contact-form-wrap .social-links {
    gap: 10px;
  }
  .ANS_contact-form-wrap .social-links img {
    width: 27px;
  }

  .ANS_contact-form button {
    margin-top: 15px;
    padding: 8px 10px;
    font-weight: 400;
  }

  /* header style starts */
  .ANS_nav ul {
    gap: 20px;
}

.ANS_header-inner .nav-logo-wrap {
  min-width: 150px;
  max-width: 180px;
  overflow: hidden;
}


  /* end */
}

/* small monitor */
@media screen and (max-width: 1240px) {
  /* sidebar style starts */
  .ANS_sidebar .sidebar-toggler-btn {
    width: 35px;
  }

  .ANS_sidebar-logo-wrap.small {
    margin-top: 34px;
}

  /* header style starts */
.ANS_nav ul a{
  font-size: 16px;
}

.ANS_nav ul .ANS_btn{
  font-size: 16px;
  padding: 8px 10px;
}

.ANS_header-inner {
  gap: 15px;
}

.ANS_header-inner .nav-logo-wrap {
  display: none;
}

.ANS_sidebar-logo-wrap.small.hide{
  opacity: 1;
  pointer-events: unset !important;
}

}

/* tablets ( extra large )  */
@media screen and (max-width: 1023px) {
  /* global style */
  .desk {
    display: none;
  }
  .tablet {
    display: block;
  }

  /* sidebar style starts */
  .ANS_sidebar .contact-col::-webkit-scrollbar {
    width: 5px !important;
    height: 8px;
  }

  .ANS_sidebar .contact-wrapper {
    flex-direction: column;
  }

  .ANS_contact-form-wrap {
    margin-top: 30px;
  }

  .ANS_sidebar .menu-col {
    padding: 20px;
    padding-left: 90px;
    min-width: 450px;
    flex-grow: 1;
}

.ANS_sidebar .site-nav-logo {
  min-width: 100px;
  max-width: 200px;
}



  .ANS_sidebar .ANS_menu li a {
    font-size: 24px;
}

.ANS_sidebar .sidenav-link::after {
  left: -8px;
  transform: translate(-30px, -50%);
  width: 27px;
  height: 36px;
}

/* header style starts */
.ANS_nav ul .home-link,
.ANS_nav ul .about-link{
  display: none;
}

/* footer style starts */
.ANS_footer .footer-top{
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 70px;
 }
 
 .ANS_footer .footer-col{
   max-width: 350px;
 }

 .ANS_footer .ANS_contact-form-wrap {
  margin-top: 0px !important;
  }

  .ANS_footer .footer-contact-info,
  .ANS_footer .membership-info{
    max-width: 250px;
  }

}

/* tablets ( medium )  */
@media screen and (max-width: 840px) {
/* header style */
.ANS_nav ul .contact-link{
  display: none;
}
}

/* phones ( extra large )  */
@media screen and (max-width: 767px) {
  /* global utility */
  .mobi {
    display: block;
  }

  .desk,
  .tablet {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }


  .ANS_header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-black);
    z-index: 9999;
  }

  .ANS_header, .ANS_main-wrapper, .ANS_footer {
padding: 0;
}




  /* mobile hamberger menu */
  .ANS_hamburger-menu {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.ANS_hamburger-menu .bar-1,
.ANS_hamburger-menu .bar-2,
.ANS_hamburger-menu .bar-3{
  width: 30px;
  height: 3px;
  /* background-color: #0ff; */
  background-color: var(--light-yellow);
  margin: 4px 0;
  transition: 0.4s;
}

.ANS_hamburger-menu.active .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-8px,0);
  transform: rotate(-45deg) translate(-8px,0);
}
.ANS_hamburger-menu.active .bar-2 {
  opacity: 0;
}
.ANS_hamburger-menu.active .bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px,0);
  transform: rotate(45deg) translate(-8px,0);
}


 /* sidebar  */
 .ANS_sidebar .sidebar-toggle-container {
  display: none !important;
}

.ANS_sidebar .sidebar-drawer-wrap {
  transform: translate( 0, -100%);
}

.ANS_sidebar .site-nav-logo {
  display: none;
}

.ANS_sidebar .sidebar-drawer-wrap.open {
  transform: translateX(0, 0);
}

.ANS_sidebar .sidebar-drawer-wrap .sidebar-inner {
  overflow-y: auto;
  display: block;
  padding-top: 45px;
}

.ANS_sidebar .menu-col {
  padding: 40px 0;
  min-width: 200px;
  flex-grow: 1;
  background-color: transparent;
  align-items: center;
}

.ANS_sidebar .ANS_menu {
  gap: 15px;
  align-items: center;
}

.ANS_sidebar .sidenav-link.active, .ANS_sidebar .sidenav-link:hover {
  padding-left: 0px;
}
.ANS_sidebar .sidenav-link.active::before, .ANS_sidebar .sidenav-link:hover::before {
  padding-left: 0px;
  content: none;
}

.ANS_sidebar .sidenav-link.active::after, .ANS_sidebar .sidenav-link:hover::after {
 content: none;
}

.sidenav-link, .text-fill {
  -webkit-text-fill-color: var(--white);
  text-fill-color:  var(--white);
  -webkit-text-stroke-width: 0px;
  position: relative;
  font-size: 20px;
}

.ANS_sidebar .contact-wrapper {
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.ANS_sidebar .contact-col {
  padding: 20px;
}

.ANS_sidebar .our-partners-wrapper {
 /* margin-top: 50px; */
 display: none;
}

.ANS_contact-form-wrap {
 width: 100%;
  max-width: 400px;
}

.ANS_sidebar .ANS_contact-info {
 width: 100%;
 max-width: 400px;
 align-items: center;
}

.ANS_sidebar .ANS_contact-info h5 {
 text-align: center;
}

.ANS_sidebar .ANS_contact-info address {
 text-align: center;
 max-width: 300px;
}

.ANS_contact-form-wrap h5 {
 text-align: center;
 margin-top: 15px;
}

.ANS_sidebar .phone-wrap {
 text-align: center;
 justify-content: center;
}

.ANS_contact-form-wrap .social-links {
 justify-content: center;
}


/* header style */
.ANS_header .ANS_nav{
  display: none !important;
}

.ANS_header-inner .nav-logo-wrap {
 display: block !important;;
}

.ANS_header-inner {
 padding: 15px 20px;
}

/* footer style starts */
.ANS_footer{
  padding-top: 40px;
}
.ANS_footer .footer-top{
  flex-direction: column;
  row-gap: 50px;
 }
 
 .ANS_footer .footer-col{
   max-width: 400px;
 }

  .ANS_footer .footer-contact-info,
  .ANS_footer .membership-info{
    max-width: 300px;
  }

  .ANS_footer .footer-col h5 {
    margin-bottom: 20px;
    text-align: left !important;
}

.ANS_footer .footer-bottom {
  margin-top: 50px;
}


.ANS_footer .footer-bottom{
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}

.ANS_footer .footer-bottom .footer-social-links{
  gap: 10px;
}



/* end */




}

/* phones ( small, medium ) */
@media screen and (max-width: 560px) {

  /* sidebar style starts */

  .ANS_sidebar .ANS_menu li a {
    font-size: 18px;
}
.ANS_sidebar .ANS_contact-info address {
  text-align: center;
  max-width: 250px;
}

/* header style */
.ANS_header-inner {
  padding: 15px 16px;
 }

}
